.resume-section-wrapper{
  height: max-content;
  background: rgb(15 23 42);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

.info > div{
  min-height: 11rem;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  padding-top: 1.5rem !important;
}
.info > div:last-child {
  border-left: 6px solid #72e2ae5c;
  
  /* padding: 2rem !important; */
  color: #fff;
  position: relative;
  z-index:1;
}
.info h5{
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-color);
}
.info > div:first-child>p {
  border: none !important;
  font-size: 14px;
  background: rgb(25,44,56);
  color: #fff;
  padding: 2px 22px !important;
  border-radius: 1rem;
  text-wrap: nowrap;
  width: max-content;
}
.info > div:last-child {
  padding-left: 7.2rem;

}
.info > div:last-child p{
line-height: 2;
}
.info > div:last-child::before{
  content: " ";
  display: block;
  height: 6px;
  width: 11rem;
  border-radius: 2px;
  background: #72e2ae5c;
  position: absolute;
  left: -57px;
  top: 25px;
  z-index: 1;
}
.info > div:first-child{
  position: relative;
  padding-right: 7.2rem;
  /* padding-bottom: 8rem !important; */
}
.info > div:first-child>p::before{

    content: " ";
    display: block;
    height: 2.2rem;
    width: 2.2rem;
    border: 4px solid #72e2ae5c;
    position: absolute;
    right: -14px;
    border-radius: 50%;
    z-index: 10;
    background: #162033;
    top: 17px;

}

.info ul{
  list-style-type: disc !important;
}
.info li{
  margin: 1.5rem 0 !important;
}


@media screen and (max-width:426px) {

  .info > div:first-child{
    padding: 0 !important;
  }

.info > div:first-child>p {

  font-size: 12px !important;
  padding: 2px 15px !important;
  text-wrap: nowrap;
  margin-right: 3rem !important;
  margin-top: 1.1rem !important;
}
.info > div:first-child>p::before {
  content: " ";
  display: block;
  height: 1.2rem;
  width: 1.2rem;
  border: 4px solid #72e2ae5c;
  position: absolute;
  right: -12px;
  border-radius: 50%;
  z-index: 10;
  background: #162033;
  top: 18px;
}
.info > div:last-child::before {
  height: 5px;
  width: 3rem;
  left: 0;
  top: -14px !important;

}
}


@media screen and (max-width:768px) {
  .info{
    flex-direction:column !important;
    border-left: 6px solid #72e2ae5c;
  }
  .info > div:last-child {
    border:0 !important;
    padding: 1rem 0 2rem 4rem !important
}
.info > div:last-child::before {
  height: 5px;
  width: 3rem;
  left: 0;
  top: -17px;

}
  .info > div:first-child>p::before{
    right: unset !important;
    left: -13px;
  }
  .info > div:first-child>p {
    margin-top: 18px !important;
    margin-left: 4rem !important;
}

  .info > div{
    padding: 0 !important;
    padding-left: 0 !important;
    min-height: unset;
}
@media screen and (max-width:1025px) and (min-width:768px){

}
@media screen and (max-width:1024px) {

}