form{
  color: #fff;
  padding: 1.8rem !important;
  border: 1px solid rgb(255 255 255/0.1);
  background: rgb(22 32 51/1);
  border-radius: .5rem;
  label{
    margin-bottom: .6rem !important;
  }
  input,textarea{
    width: 100%;
    padding: 12px !important;
    border-radius: .5rem;
    background: var(--primary-color2);
    border: 1px solid rgb(255 255 255/0.1);
    margin-bottom: 1.2rem !important;
    &:focus{
      border: 1px solid var(--primary-color);
    }
  }
}

button[type='submit']{
  width: unset;
  padding: 10px 20px !important;
  border-radius:.2rem;
  background: var(--primary-color);
  color: #000;
 font-size:1.5rem;
 text-transform: uppercase;
}

