@media screen and (min-width:1025px) {
  .header-mobile{
    display: none;
  }
}

.site-branding {
  img{
    height: 8rem;
    max-width: 100%;
    transition: all .6s ease;
  }
}
.header-wrapper{
  width: 100%;
}

.header_top .container{
  display: flex !important;
  align-items: center;
  &::before{
content:unset !important;
a{
  display: flex;
  align-items: center;

}
  }
}
.header_top .social-links-wrapper {
  display: flex !important;
  /* border: 1px solid red; */
  gap: 2rem;
  flex: 1;
  justify-content: end;
  a {
    border: 1px solid #72e2ae54;
    display: flex;
    padding: 6px 8px !important;
}
  .navIcon {
    color: skyblue;
    height: 1.8rem;
    width: 1.8rem;
    box-shadow: 1px 1px 3px grey,-1px -1px 3px grey;
    /* border-radius: 50%; */
    /* border: 2px solid white; */
}
}
.site-branding{
  h2{
    color: #fff !important;
    font-weight: 600;
    font-family: initial;
    span{
color: var(--primary-color);
font-weight: 800;
font-family: sans-serif;
    }
  }
}
.site-branding h4 {
  color: var(--primary-color);
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 1px;
}
.site-branding h4 span{
  color: #fff;
  
}
.header_top {
  border-bottom: 1px solid rgba(255,255,255,.1);
  padding: 6px 0 !important;
  /* min-height: 40px; */
  display: flex;
  align-items: center;
a{
  height: min-content !important;
  color:skyblue;
  font-weight: 600 !important;
  cursor: pointer;
}
}
.header-wrapper.fixed .header_bottom .row{
  padding: .5rem 0 !important;
 
}
.header-wrapper.fixed .header_top .social-links-wrapper{
  a{
    border:1px solid var(--primary-color);
  }
}
.header_bottom.fixed .container{
  box-shadow: 2px 2px 26px -18px white !important;
  backdrop-filter: blur(8px);
}
.header_bottom.fixed.lightblue .container{
  background: linear-gradient(45deg, black, #0000ff66, black) !important;
  box-shadow: 2px 2px 4px #00000059;
  
}
.header_bottom.fixed.skyblue .container{
  background: linear-gradient(45deg, black, #87ceeb6e, black) !important;
  box-shadow: 2px 2px 4px #00000059;
}
 .header_bottom.fixed.darkred .container{
  background: linear-gradient(45deg, black, #8b00009e, black) !important;
  box-shadow: 2px 2px 4px #00000059;
}

.header_bottom.fixed.black .container{
  background: linear-gradient(45deg, black, #00000072, black) !important;
  box-shadow: 2px 2px 4px #00000059;
}
.header_bottom.fixed{
  position: fixed;
  top: 20px;
  z-index: 4;
  width: 100%;
  transition: all .6s ease;
}
.header_bottom.fixed img{
  height: 6rem;
  max-width: 100%;
}
.header_bottom.fixed .contact-btn{
  box-shadow: 2px 2px 10px -1px var(--primary-color),-1px -1px 10px -3px white;
  font-weight: 500;
  position: relative;
}
:is(.hover-effect1,.hover-effect2 ){
  position: relative !important;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .5s;
  height: 100%;
 max-width: max-content;
 padding: 0 !important;
 margin-bottom:0 !important;
}
.hover-effect1::before {
  content: 'HIRE ME';
  display: grid;
  font-size: 0;
  place-content: center;
  border-radius: .5rem;
  width: 100%;
  height: 0%;
  color: #000 !important;
  background: #fff !important;
  position: absolute;
  top: 0;
  left: 0;
  transition: height 1s ease;
}
.hover-effect2::before {
  content: 'SEND MAIL';
  display: grid;
  font-size: 0;
  place-content: center;
  border-radius: .5rem;
  width: 100%;
  height: 0%;
  color: #000 !important;
  background: #fff !important;
  position: absolute;
  top: 0;
  left: 0;
  transition: height 1s ease;
}
:is(.hover-effect1,.hover-effect2):hover::before{
  height: 100%;
  font-size: unset;
}
.header_bottom .row{
  padding: 1rem 0 !important;
}
.header_bottom.fixed .container{
  transition: all .6s ease;
  background: linear-gradient(45deg, black, #72e2ae3b, black);
  box-shadow: 2px 2px 4px #00000059;
  border-radius: 1.5rem;
  border: 1px solid #ffffff3d;
}
.header-wrapper .row{
  display: flex;
  align-items: center;;
}
.main-menu ul {
  display: flex !important;
  counter-reset: main-menu;
}


.main-menu ul a {
  /* flex: 1; */
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 0 1.6rem !important;
 
}

.main-menu ul li::before {
  counter-increment: main-menu;
  content: counters(main-menu,".") ". ";
  color: var(--primary-color);
}

.contact-btn {
  background-color: var(--primary-color);
  padding: 10px 20px !important;
  border: none;
  border-radius: .5rem;
  text-transform: uppercase;
}
.btn-hover{
  position: relative;
  width: max-content;
}
.btn-hover::before{
  content: ' ';
  width: 100%;
  background: #fff;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: .5rem;
  z-index: 10;
  transition-property: height;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .5s;
}
.btn-hover span{
  position: relative;
  z-index: 11
}
.btn-hover:hover span{
  color:#000;
}
.btn-hover:hover::before{
  height: 100%;
}

.right-menu{
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 1.5rem;
}

.rotating-ring {
  position: relative;
  width: 100px;
  height: 100px;
  outline: 8px solid #3498db; /* Ring color */
  border:2px solid var(--primary-color);
  border-radius: 50%; 
   /* Create a gap for the rotating effect */
  animation: rotate 2s linear infinite;
z-index: 1;
overflow: hidden;
}
.rotating-ring::after{
 
  content: " ";
  display: block;
  background-color: var(--primary-color);
  height:5rem;
  width: 2rem;
  position: absolute;
  z-index: 5;
border-radius: 50%;

}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
